* {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

body {
  background-color: #dcddde;
}

.applist {
  list-style: square;
  padding-left: 40px;
}

#main {
  margin-left: 85px;
}

.content_header {
  background-color: #dcddde;
  width: 100%;
  top: 0;
  padding: 25px 5% 25px 5%;
  z-index: 2;
  display: block;
  position: fixed;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
  top: 0;
  display: block;
  padding-top: 80px;
}

h2,
h3,
h4 {
  color: #282828;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  border:none;
}

.button {
  background-color: #282828;
  height: 45px;
  width: auto;
  margin-top: 25px;
  border: none;
  border-radius: 0.25em;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
  font-size: 15px;
  opacity: 1;
}

.button:hover {
  opacity: 0.95;
}

.button:focus {
  outline: none;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  animation: transitionIn 0.75s;
}

.folder-list {
  padding: 0.5rem;
  min-height: 6rem;
  width: 100%;
  line-height: 150%;
  font-size: 0.9rem;
  border: none;
  border-radius: 2px;
}

.folder-list:focus {
  outline: none;
}
