<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% extends "template.html" %}
  <head>
    <meta charset="utf-8">
    {% block title %}Search{% endblock %}
  </head>
  <body class="searchbody">
    
    {% block content %}

    <div class="searchlogo">
          <center><h1>Ask Eva</h1></center>
    </div>

    <form class="searchbar" action="{{ url_for('search') }}" method="get">
      <center>
        <input placeholder="to find the location of the file named..." type="text" name="q">
      </center>
    </form> 
  
  {% endblock %}
  </body>
</html>