<!DOCTYPE html>
<html lang="en" dir="ltr">
 
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Ratul Maharaj">   
   
   <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/main.css') }}">
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Kalam&display=swap">

   <title>Eva - {% block title %}{% endblock %} </title>
</head>
 
<body>
    {% include 'sidebar.html' %}
    <div id="main">
        {% block content_header %}             
        {% endblock %}

        <div class="content" >
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>