<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% extends "template.html" %}
  <head>
    <meta charset="utf-8">
    {% block title %}Settings{% endblock %}
  </head>
  <body class="updatebody">
    
    {% block content %}
    
    <h3>VERSION</h3><br>
    
    <p>You are currently using Eva version {{ version }}</p><br><br>

    <h3>ASK EVA</h3><br>
    <h4>UPDATE DATABASE</h4><br>

    <p> This application uses a static database to look up the locations of files. </p><br>
    <p>The database was last updated on: <strong>{{ modtime }}</strong></p><br>
    <p> Click the button below to update the database now.</p>
    <div class="button_container">
      <center>
        <form action="/update" method="POST">
          <input class = "button" type="submit" value="UPDATE">
        </form>
      </center>
    </div>
    <br><br><br>


    {% endblock %}
  </body>
</html>