* {
    font-family: "Segoe UI";
}

.search-area {
    background: rgb(236, 233, 230);
    background: #FBFBFD;

    min-width: 480px;
    height: 100vh;
    overflow-y: scroll;
}

.results-list {
    padding: 0.25rem;
    margin: 1rem 1rem;
}
  
